.demoGraph {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    padding: 0px !important;
    margin: 0px !important;
    // height: 500px !important;
    // width: 500px !important;
    border: solid #888 1px;
    // overflow: scroll;
    // height: 500px !important;
    // width: 500px !important;
}